{% extends "base.html" %}
{% load comments i18n %}
{% block title %}{{ title }}{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Show number of comments
    function showComments(){
        {% get_comment_count for homepage.tweet this.id as comment_count %}
        count = {{ comment_count }};
        var comments = document.getElementById('comments');
        y=comments.childNodes[0];
        comments.removeChild(y);
        var text = "Tweet number" + this.id + "; Comments:" + count;
        var textNode = document.createTextNode(text);
        comments.appendChild(textNode);
    }
</script>
{% endblock %}
    {% block content %}
	<div id="left">
		<div class="scrollup" onclick="up();">
				<center>Scroll Up</center>
		</div>
		
		<div id="tweets">
				<p style="font-size: 10pt; color: #6c9fe5;">{% block tweetstype %}The most popular {{ category }} tweets{% endblock %}</p>
                {% for tweet in tweets %}
                    {% if tweet.0 > 5 %}
                        <div class="tweet" id="{{ tweet.0 }}" style="display:none;" onMouseOver="changeID({{ tweet.0 }});">
                    {% else %}
                        <div class="tweet" id="{{ tweet.0 }}" onMouseOver="changeID({{ tweet.0 }});">
                    {% endif %}
                            <div class="tweet-img">
                                <img src="{{ tweet.1.avatar }}" alt="" border="0" align="left" />
                            </div>
                            <div class="tweet-info">
                                <div class="tweet-author">{{ tweet.1.author }}</div>
                                <div class="tweet-datetime">{{ tweet.1.datetime }}</div>
                            </div>
                            <div class="tweet-text">{{ tweet.1.text }}</div>
                            <div class="tweet-menu">
		                        <a href="#">Like</a>
		                        <a href="#">Retweet</a>
		                        <a href="#" onClick="showComments();">Comments</a>
	                        </div>
                        </div>
                {% endfor %}
		</div>
		
		<div class="scrolldown" onclick="down();">
				<center>Scroll Down</center>
		</div>
	</div>
	<div id="comments">

	</div>
    {% endblock %}


